* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: rgb(95, 106, 255);
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainDarkGray: rgb(59, 59, 59);
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --darkKnight: #232d36;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* Main page */
.main-page-body {
  background-color: #282c34;
}
.main-logo {
  height: 10vmin;
  width: 70px;
  pointer-events: none;
  position: relative;
  top: 40px;
}

@media screen and (max-width: 414px) {
  .header-container {
    padding: 50px 0px;
    width: 50vw;
    max-width: 500px;
    font-size: 12px;
  }

  .main-logo {
    position: absolute;
    top: 84px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .main-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container {
  width: 100%;
  text-align: center;
  height: 65rem;
}

.main-header {
  color: white;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

.main-btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  border-radius: 10px;
  color: var(--mainWhite);
  background: blue;
  padding: 0.4rem 0.9rem;
  border: 3px solid blue;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.main-btn-primary:hover {
  background: transparent;
  color: white;
}

/* Footer */

.footer-container {
  background-color: white;
  height: 5rem;
}

.footer-text {
  text-align: center;
  position: relative;
  padding-top: 20px;
}

.footer-text a {
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: none;
  font-weight: bold;
}

/* End Footer */

/* End Main page */
/* globals */
body {
  /* padding-top: 66px; */
  color: var(--mainBlack);
  /* background: var(--mainWhite); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* single hero page main picture*/
.sc-bdnylx {
  height: 80vh;
}
/* end of single hero page main*/
/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0.2rem 2rem;
  /* background-image: url("./images/background1.jpg"); */
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  color: white;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
/* .nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
} */
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  position: absolute;
  top: 15px;
  right: 0;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: white;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}

.nav-links div {
  background-color: var(--primaryColor);
  width: 40px;
  height: 5px;
  margin: auto;
}

.nav-links a:hover {
  /* color: lightblue; */
  font-size: 17px;
}

.show-nav {
  margin: 50px 20px 0 0;
  height: 150px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

.page-logo {
  width: 75px;
}
/* end of navbar */
/* Hero */
.defaultHero,
.heroesHero {
  min-height: calc(110vh - 70px);
  background: url("./images/background10.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroesHero {
  background-image: url("./images/background6.jpg");
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkKnight);
  color: white;
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured heroes */

.featured-heroes {
  padding: 5rem 0;
  background-color: black;
  color: white;
}
.featured-heroes-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-heroes-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-heroes-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured heroes */
/* hero */
.hero {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.hero:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.hero-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
  text-align: center;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .hero-link {
  transform: translate(-50%, -50%) scale(1);
}
.hero-info {
  background: var(--primaryColor);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of hero  */
/* single hero*/

.single-hero {
  padding: 5rem 0 0 0;
  background-color: var(--darkKnight);
  color: white;
}

.single-hero-page {
  background: var(--darkKnight);
}

.single-hero-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-hero-images img {
  width: 400px;
  height: 250px;
  display: block;
}
.single-hero-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-decoration: underline;
}
.desc p {
  line-height: 1.5;
}
.info h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-decoration: underline;
}
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.hero-extras {
  width: 80vw;
  margin: 0 auto;
  color: white;
  padding-bottom: 40px;
}
.hero-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-decoration: underline;
}

.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-hero-images,
  .single-hero-info,
  .hero-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-hero-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 414px) {
  .single-hero-images,
  .single-hero-info,
  .hero-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-hero-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
  .single-hero-images img {
    padding-right: 5px;
  }
}
/* end of single hero*/
/* herolist */
.heroeslist {
  padding: 5rem 0;
  background-color: var(--darkKnight);
}
.heroeslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

.heroeslist-center img {
  height: 150px;
  width: 100% center/cover no-repeat;
}

@media screen and (min-width: 776px) {
  .heroeslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .heroeslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of herolist */
/*  heroes fitler*/
.filter-container {
  padding: 2rem 0;
  background-color: var(--darkKnight);
  color: white;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
  color: white;
  border: 1px solid var(--primaryColor);
}
.form-group {
  text-transform: capitalize;
  color: white;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-s: 0.5rem;
  color: white;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
  color: white;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of heroes fitler*/
/* page arrow */
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

i {
  display: block;
  color: white;
}

.arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 60px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* end page arrow */
